
body{
    background-color: blanchedalmond;
}

table, th, td {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
}

#table1{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding:10px;
    margin:5px;

}
#table2{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding:10px;
    margin:5px;

}

tr{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
}

div{
    margin:10px;
    padding : 10px;
    text-align: center;
    align-content: center;
    align-items: center;

}
.players{
    margin:10px;
    padding : 10px;
    text-align: center;
    width: 40vw;
    
    align-content: center;

}

.left20{
    float:left;
    width:20vw;
    background-color: aliceblue;
}

#my-header{
    background-color: white;
    color:blueviolet;
    align-self: center;
    width:90vw;
    margin:5vw;
    padding:10px;
}